.about-container
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	background-color: #fff
.about-wrap
	width: calc( 100% - 160px )
	max-width: 1500px
	padding: 80px
	display: flex
	flex-direction: column
	align-items: center
	// border-bottom: 1px solid #E7E7E7
	.title
		width: 100%
		display: flex
		justify-content: flex-start
		span
			color: #000
			display: block
			margin-bottom: 30px
			font-size: 30px
			font-weight: 700
			letter-spacing: -0.5px
			position: relative
			&::after
				content: ""
				display: block
				position: absolute
				bottom: -16px
				width: 90px
				height: 7px
				background-color: #000
	.profile-box
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		padding-top: 80px
		.img-box
			margin-right: 70px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			img
				width: 198px
				height: 198px
			.dl-box
				display: flex
				align-content: center
				font-weight: 700
				width: 70px
				padding-top: 15px
				span
					display: flex
					align-items: center
					font-family: DungGeunMo
					&::after
						content: ""
						margin-left: 3px
						display: block
						width: 20px
						height: 20px
						background-image: url("/src/assets/image/dl-icon.png")
						background-size: 16px
						background-repeat: no-repeat
						background-position: center
		div
			max-width: 1000px
			h1, p
				font-family: SUIT
				color: #000
			h1
				font-size: 30px
				font-family: DungGeunMo
			p
				font-size: 16px
				padding-top: 15px
				line-height: 20px
	.skill-wrap
		width: 100%
		max-width: 1500px
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		gap: 30px
		padding-top: 80px
		span
			writing-mode: sideways-lr
		div
			.skill-box
				width: 280px
				border-radius: 14px
				border: 1px solid rgba(0, 0, 0, 0.15)
				display: flex
				align-items: center
				padding: 14px 20px
				img
					width: 30px
					height: 30px

				div
					border-left: 2px solid #a1a1a1
					padding-left: 15px
					margin-left: 15px
					p
						&:first-of-type
							font-size: 16px
							font-weight: 500
						&:last-of-type
							font-size: 12px
							font-weight: 100
							padding-top: 5px
							white-space: nowrap
.career-wrap
	width: calc( 100% - 240px )
	max-width: 1500px
	padding: 80px 120px
	display: flex
	align-items: flex-start
	justify-content: center
	.title
		span
			display: block
			margin-bottom: 30px
			font-size: 30px
			font-weight: 400
			letter-spacing: -0.5px
			position: relative
			writing-mode: sideways-lr
			color: #e7e7e7
			&::after
				content: ""
				display: block
				position: absolute
				top: 0px
				right: -16px
				width: 3px
				height: 60px
				background-color: #EEEEEE
	.discription-box
		width: 100%
		padding-left: 100px
		font-family: SUIT
		color: #000
		p
			a
				font-size: 18px
				font-weight: 800
			&:last-of-type
				font-size: 16px
				font-weight: 500
				padding-top: 30px
				line-height: 20px

@media screen and ( max-width: 720px )
	.about-container
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		background-color: #fff
	.about-wrap
		width: calc( 100% - 40px )
		max-width: 100%
		padding: 20px
		display: flex
		flex-direction: column
		align-items: center
		// border-bottom: 1px solid #E7E7E7
		.title
			width: 100%
			display: flex
			justify-content: flex-start
			span
				color: #000
				display: block
				margin-bottom: 10px
				font-size: 20px
				font-weight: 700
				letter-spacing: -0.5px
				position: relative
				&::after
					content: ""
					display: block
					position: absolute
					bottom: -13px
					width: 90px
					height: 5px
					background-color: #000
		.profile-box
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			width: 100%
			padding-top: 80px
			.img-box
				margin-right: 0
				margin-bottom: 20px
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				img
					width: 198px
					height: 198px
				.dl-box
					display: flex
					align-content: center
					font-weight: 700
					width: 70px
					padding-top: 15px
					span
						display: flex
						align-items: center
						font-family: DungGeunMo
						&::after
							content: ""
							margin-left: 3px
							display: block
							width: 20px
							height: 20px
							background-image: url("/src/assets/image/dl-icon.png")
							background-size: 16px
							background-repeat: no-repeat
							background-position: center
			div
				max-width: 100%
				h1, p
					font-family: SUIT
					color: #000
					text-align: left
				h1
					font-size: 18px
					font-family: DungGeunMo
				p
					font-size: 14px
					padding-top: 15px
					line-height: 20px
	.career-wrap
		width: calc( 100% - 30px )
		max-width: 100%
		padding: 0px
		padding-top: 20px
		box-sizing: border-box
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: center
		.title
			span
				display: block
				margin-bottom: 30px
				font-size: 20px
				font-weight: 500
				letter-spacing: -0.5px
				position: relative
				writing-mode: horizontal-tb
				color: #898989
				&::after
					content: ""
					display: block
					position: absolute
					top: 23px
					left: 2px
					width: 30px
					height: 2px
					background-color: #898989
		.discription-box
			width: 100%
			padding-left: 0px
			font-family: SUIT
			color: #000
			p
				a
					font-size: 16px
					font-weight: 800
				&:last-of-type
					font-size: 14px
					font-weight: 500
					padding-top: 30px
					line-height: 20px