.main-wrap
	width: 100%
	height: 1000px
	background-color: #f1f1f1
	.main
		position: relative
		height: 1000px
		overflow: hidden
		img
			position: absolute
		.portfolio
			width: 900px
			top: 180px
			left: 23%
		.purple
			width: 159px
			top: 100px
			left: 10%
		.frontend
			width: 437px
			top: 290px
			right: 20%
		.star
			width: 280px
			top: 70px
			right: 21%
		.smile
			width: 213px
			top: 550px
			right: 18%
		.green
			width: 356px
			top: 480px
			left: 18%
		.flower-y
			width: 102px
			bottom: 210px
			right: 8%
		.flower-g
			width: 102px
			bottom: 100px
			right: 40%
		.rainbow1
			width: 673px
			right: -340px
			bottom: 90px
		.rainbow2
			width: 673px
			left: -340px
			bottom: 50px
			transform: scaleX(-1) rotate(-30deg)